<footer class="footer">
  <small class="spacin">
    <%= link_to image_tag("facebook.png", class: "icn", alt: "Facebook logo"), 'http://www.facebook.com' %>
    <%= link_to image_tag("instagram.png", class: "icn", alt: "Instagram logo"), 'http://www.instagram.com' %>
    <%= link_to image_tag("twitter.png", class: "icn", alt: "Twitter logo"), 'http://www.twitter.com' %>
    <a href="http://www.railstutorial.org/"> TravelBugz </a>
    by Curtis Ma </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %> </li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
